* {
	box-sizing: border-box
}
div.contenedor {
	width: 300px;
	height: 300px;
	margin: 100px auto;
	position: relative;
}

div.animal {
	width:100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size:cover;
	border: 1px solid black
}

div.animal.animal01 {
	background-image: url(img/perro.jpg);
	transform: translateX(0px) scale(1.2);
	z-index: 10
}
div.animal.animal02 {
	background-image: url(img/gato.jpg);
	transform: translateX(-310px);
	z-index: 9
}
div.animal.animal03 {
	background-image: url(img/conejo.jpg);
	transform: translateX(-620px);
	z-index:8
}
div.animal.animal04 {
	background-image: url(img/perro.jpg);
	transform: translateX(-930px);
	z-index:7;
	opacity: 0
}
div.animal.animal05 {
	background-image: url(img/gato.jpg);
	transform: translateX(310px);
	z-index:6
}
div.animal.animal06 {
	background-image: url(img/conejo.jpg);
	transform: translateX(620px);
	z-index:5
}
div.animal.animal07 {
	background-image: url(img/perro.jpg);
	transform: translateX(930px);
	z-index:4;
	opacity:0
}